div{
    height: 55px;
    width: auto;
}
.demo_event_trigger{
    background-color: darkturquoise;
    margin-top: 50px;
}
.demo_name_test{
    background-color: beige;
    margin-top: 50px;
}
.filter_input{
    border-radius: 8px;
    width: 250px;
    outline:0;
    text-align: center;
}
